[Unit]
Description=File-Access Go Blog Server
After=network-online.target

[Service]
Type=simple
User=fagblog
Group=fagblog
ExecStart=/usr/local/bin/fagblog
; WorkingDirectory=/var/fagblog/
Restart=on-failure
RestartSec=5s

# Security hardening (optional but recommended)
ProtectSystem=full
ProtectHome=true
NoNewPrivileges=true
PrivateTmp=true
; ReadWritePaths=/srv/blogengine /var/log/blogengine
ReadOnlyPaths=/etc/blogengine /usr/local/share/fagblog /var/lib/fagblog
CapabilityBoundingSet=
AmbientCapabilities=

[Install]
WantedBy=multi-user.target

# vim:ft=systemd
