{{ define "head" }}
<meta property="og:title" content="{{ .Post.Metadata.Title }}" />
<meta property="og:description" content="{{ .Post.Metadata.Summary }}" />
<meta property="og:url" content="https://{{ .Context.SiteMetadata.Hostname }}{{ .Url }}" />

{{ if .Post.Metadata.ThumbnailHref }}
<meta property="og:image" content="https://{{ .Context.SiteMetadata.Hostname }}{{ .Post.Metadata.ThumbnailHref }}" />
{{ end }}
{{ end }}

{{ define "title" }}
{{ .Context.SiteMetadata.Title }} | {{ .Post.Metadata.Title }}
{{ end }}

{{ define "content" }}
<h1 class="post-heading">{{ .Post.Metadata.Title }}</h1>
<div class="post-meta">
    Published on <time datetime="{{ .Post.Metadata.Timestamp.UTC }}" class="local-time"></time>.
</div>

<article class="post-body">
    {{ if .Post.Metadata.Summary }}
    <p>{{ .Post.Metadata.Summary }}</p>
    {{ end }}
    <!-- Table of content -->
    <ol class="table-of-content">
        {{ range $h := .Post.Headings }}
        <li class="toc-item toc-level-{{ $h.Level }}">
            <a href="#{{ $h.Id }}">
                {{ $h.Title }}
            </a>
        </li>
        {{ end }}
    </ol>

    {{ .Post.Content }}
</article>

<!-- highlight.js -->
<script src="/static/preformat-code.js"></script>

<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/base16/gruvbox-dark-soft.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
<script>hljs.highlightAll();</script>
{{ end }}

{{ template "base.html" . }}
