{{ define "head" }}
<meta property="og:title" content="{{ .Context.SiteMetadata.Title }}" />
<meta property="og:url" content="https://{{ .Context.SiteMetadata.Hostname }}{{ .Url }}" />
<meta property="og:image"
    content="https://{{ .Context.SiteMetadata.Hostname }}{{ .Context.SiteMetadata.Author.AvatarHref }}" />
{{ end }}


{{ define "content" }}
<section class="profile">
    <img src="{{ .Context.SiteMetadata.Author.AvatarHref }}" alt="{{ .Context.SiteMetadata.Author.Name }}'s Avatar"
        class="avatar">
    <div class="profile-info">
        <h2 class="name">{{ .Context.SiteMetadata.Author.Name }}</h2>
        <p class="bio">{{ .Context.SiteMetadata.Author.Blurb }}</p>
    </div>
</section>

<section class="blog-posts">
    <h1>Posts</h1>
    {{ range $name, $meta := .Posts }}
    <a href="/blog/{{$name}}" style="text-decoration: none">
        <article class="post">
            {{ if $meta.ThumbnailHref }}
            <img class="post-thumbnail" src="{{ $meta.ThumbnailHref }}" />
            {{ end }}
            <div class="post-details">
                <h3 class="post-title">{{ $meta.Title }}</h3>
                <div class="post-meta">
                    <time datetime="{{ $meta.Timestamp.UTC }}" class="local-time"></time>.
                    {{ if $meta.Summary }}
                    <br>
                    {{ $meta.Summary }}
                    {{ end }}
                </div>
            </div>
        </article>
    </a>
    {{ end }}
</section>
{{ end }}

{{ template "base.html" . }}
