{{ define "head" }}
<meta property="og:title" content="{{ .Post.Metadata.Title }}" />
<meta property="og:description" content="{{ .Post.Metadata.Summary }}" />
<meta property="og:url" content="https://{{ .Context.SiteMetadata.Hostname }}{{ .Url }}" />
{{ end }}

{{ define "title" }}
{{ .Post.Metadata.Title }}
{{ end }}

{{ define "content" }}
<h1 class="post-heading">{{ .Post.Metadata.Title }}</h1>
<div class="post-meta">
    Published on <time datetime="{{ .Post.Metadata.Timestamp.UTC }}" class="local-time"></time>.
</div>

<!-- Table of content -->
<ol class="table-of-content">
    {{ range $h := .Post.Headings }}
    <a href="#{{ $h.Id }}">
        <li class="toc-item toc-level-{{ $h.Level }}">
            {{ $h.Title }}
        </li>
    </a>
    {{ end }}
</ol>

<article class="post-body">
    {{ .Post.Content }}
</article>
{{ end }}

{{ template "base.html" . }}
