{{ define "head" }}
<meta property="og:title" content="{{ .Context.SiteMetadata.Title }}" />
<meta property="og:url" content="https://{{ .Context.SiteMetadata.Hostname }}{{ .Url }}" />
{{ end }}


{{ define "content" }}
<section class="profile">
    <img src="{{ .Context.SiteMetadata.Author.AvatarHref }}" alt="{{ .Context.SiteMetadata.Author.Name }}'s Avatar"
        class="avatar">
    <div class="profile-info">
        <h2 class="name">{{ .Context.SiteMetadata.Author.Name }}</h2>
        <p class="bio">{{ .Context.SiteMetadata.Author.Blurb }}</p>
    </div>
</section>

<section class="blog-posts">
    <h1>Posts</h1>
    {{ range $name, $meta := .Posts }}
    <article class="post">
        <a href="/blog/{{$name}}">
            <h3 class="post-title">{{ $meta.Title }}</h3>
        </a>
        <div class="post-meta">
            <time datetime="{{ $meta.Timestamp.UTC }}" class="local-time"></time>.
            {{ if $meta.Summary }}
            <br>
            {{ $meta.Summary }}
            {{ end }}
        </div>
    </article>
    {{ end }}
</section>
{{ end }}

{{ template "base.html" . }}
