<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{{ .Context.SiteMetadata.FaviconHref }}">

    <!-- Atom Feed discovery -->
    <link rel=alternate title="Posts" type=application/atom+xml href="/feed.atom">
    
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Zen+Old+Mincho&display=swap"
        rel="stylesheet">

    <title>
        {{ block "title" . }}
        {{ .Context.SiteMetadata.Title }}
        {{ end }}
    </title>
    <link href="/static/style.css" rel="stylesheet">

    <meta property="og:site_name" content="{{ .Context.SiteMetadata.Title }}" />
    <meta property="og:type" content="website" />

    {{ block "head" . }}
    {{ end }}
</head>

<body>
    {{ template "header.html" . }}

    <main class="main-content">
        {{ block "content" . }}
        {{ end }}
    </main>

    {{ template "footer.html" . }}

    <script>
        // Hydrate datetime elements.
        document.querySelectorAll('time.local-time').forEach(el => {
            const utcTime = new Date(el.getAttribute('datetime'));
            el.textContent = utcTime.toLocaleString(undefined, {
                dateStyle: 'medium',
                timeStyle: 'short'
            });
        });
    </script>
</body>

</html>
